<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <?!= include('frontend/config/cdn') ?>
    <?!= include('frontend/config/constantesCdn') ?>
    
</head>
<body>
    <div id="root"></div>

</body>
<components style="display: none;">
    <!-- importaciones -->
  
    <!-- constantes -->
    <?!= include('frontend/config/constantesCdn') ?>
  
    <!-- rutas -->
    <?!= include('frontend/routes/Routes') ?>
  
    <!-- helpers -->
    <?!= include('frontend/helpers/modalesNotificaciones') ?>
  
  
    <!-- vistas -->
    <?!= include('frontend/views/Inicio') ?>
    <?!= include('frontend/views/usuarios/Usuarios') ?>
    <?!= include('frontend/views/formularios/FormularioRegistro') ?>
    <?!= include('frontend/components/Header') ?>
  
  
    <!-- componente raiz -->
    <?!= include('frontend/App') ?>
  
  </components>
  
  </html>